<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="../dashboard">Dashboard</a>    <a href="../logout">Logout</a>
    <h4>Create a Belt Exam:</h4>
    <form action="../belt" method="post">
        Color   <select name="color">
                    <option value="yellow">Yellow</option>
                    <option value="green">Green</option>
                    <option value="blue">Blue</option>
                    <option value="red">Red</option>
                    <option value="black">Black</option>
                </select><br>
        Description <br> <br><input type="text" name="description"placeholder="for what language"><br>
        <input type="submit" name="Create Belt!">
    </form>
</body>
</html>