<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="../dashboard">Dashboard</a>    <a href="../logout">Logout</a><br>
    <strong>Color</strong><br>@ViewBag.nice.belt.color <br>
    <strong>Date Achieved</strong><br>@ViewBag.nice.date <br>
    <strong>User Description</strong><br>@ViewBag.nice.description
</body>
</html>